.auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    .cart-box {
        width: 720px;
        height: 500px;
        /* border: var(--border-global-show); */
        /* border: 1px solid rgb(80, 80, 80); */
        box-shadow: 0 0 3px rgb(130, 130, 130);
        display: flex;
        position: relative;
        flex-wrap: wrap;
        border-radius: 20px;
        overflow: hidden;

        @media (max-width: 500px) {
            height: 100%;
            flex-direction: column;

            .cart-left {
                display: none;
            }


            .cart-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(0, 0, 0, .5) url("/src/assets/images/animations/cols/pz-0015.jfif") center / cover;
                background-blend-mode: darken; //背景图变暗

                .logo {
                    display: none;
                }


            }
        }
    }
}


.cart-left {
    border: var(--border-global-show);
    flex: 1;
    background: url("/src/assets/images/animations/cols/pz-0015.jfif") center / cover;
}

.cart-right {
    position: relative;
    padding: 3%;
    flex: 1;

    .logo {
        height: 100px;
    }

    .input-box {
        margin-top: 10px;
        position: relative;
        width: 100%;
        height: 3rem;
        line-height: 30px;

        input {
            background-color: #000000;
            border: none;
            text-indent: 1.5rem;
            width: 100%;
            height: 100%;
            display: block;
            outline: none;
            box-shadow: 0 0 3px rgb(130, 130, 130);
            color: rgb(205, 205, 205);
            border-radius: 6px;
            transition: all 0.1s ease;
            font-size: 0.8rem;

            &:focus {
                outline: solid rgb(44, 160, 218);
                font-size: 1.2rem;
            }
        }

    }

    .username::after {
        border: var(--border-global-show);
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 5px;
        transform: translateY(-60%);
        width: 15px;
        height: 15px;
        background: url("/src/assets/images/icons/people.png") center / cover;
    }

    .password::after,
    .confirm-password::after,
    .new-password::after {
        border: var(--border-global-show);
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 5px;
        transform: translateY(-60%);
        width: 15px;
        height: 15px;
        background: url("/src/assets/images/icons/unlock.png") center / cover;
    }

    .submit {
        font-size: 1rem;
        width: 100%;
        padding: 8px 0;
        margin-top: 1rem;
        border-radius: 6px;
        background-color: #01891e;
        border: none;
        color: aliceblue;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: #12ab07;
        }
    }


    .go {
        margin-top: 0.5rem;
        border: var(--border-global-show);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        // background-color: #e15d5d;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem 1rem;
            height: 100%;
            text-decoration: none;
            // color: #19cedb;
            color: rgb(255, 255, 255);
            background-color: rgb(126, 55, 215);
            border-radius: 0.5rem;
        }
    }


}