/* 默认模式 */
:root {
  /* 导航栏 */
  --navbar-bg-color: #007bff; /* 导航栏背景色 */
  --navbar-text-color: #ffffff; /* 导航栏文本色 */

  /* 背景 */
  --primary-bg-color: #f8f8f8; /* 主要背景色 */
  --secondary-bg-color: #f1f1f1; /* 辅助背景色 */
  --secondary-bg-color: #f1f1f1; /* 辅助背景色 */

  /* 文字 */
  --primary-text-color: #333333; /* 主要文字色 */
  --secondary-text-color: #cccccc; /* 次要文字色 */
  --link-color: #007bff; /* 链接颜色 */

  /* 按钮 */
  --button-bg-color: #007bff; /* 按钮背景色 */
  --button-text-color: #ffffff; /* 按钮文本色 */

  /* 卡片 */
  --card-bg-color: #f8f8f8; /* 卡片背景色 */
  --card-text-color: #333333; /* 卡片文本色 */

  /* 边框 */
  --border-color: #444444; /* 边框颜色 */

  /* 强调色 */
  --primary-emphasis-color: #007bff; /* 主要强调色 */
  --secondary-emphasis-color: #ffcc66; /* 次要强调色 */
}

.light-mode {
  /* 导航栏 */
  --navbar-bg-color: #f2f2f2; /* 导航栏背景色 */
  --navbar-text-color: #ffffff; /* 导航栏文本色 */

  /* 背景 */
  --primary-bg-color: #f8f8f8; /* 主要背景色 */
  --secondary-bg-color: #f1f1f1; /* 辅助背景色 */

  /* 文字 */
  --primary-text-color: #333333; /* 主要文字色 */
  --secondary-text-color: #5c5c5c; /* 次要文字色 */
  --link-color: #007bff; /* 链接颜色 */

  /* 按钮 */
  --button-bg-color: #007bff; /* 按钮背景色 */
  --button-text-color: #ffffff; /* 按钮文本色 */

  /* 卡片 */
  --card-bg-color: #f8f8f8; /* 卡片背景色 */
  --card-text-color: #333333; /* 卡片文本色 */

  /* 边框 */
  --border-color: #444444; /* 边框颜色 */

  /* 强调色 */
  --primary-emphasis-color: #007bff; /* 主要强调色 */
  --secondary-emphasis-color: #ffcc66; /* 次要强调色 */
}

/* 黑夜模式 */
.dark-mode {
  /* 导航栏 */
  --navbar-bg-color: #222222f4;
  --navbar-text-color: #f8f8f8;

  /* 背景 */
  --primary-bg-color: rgb(33, 33, 33);
  --secondary-bg-color: rgb(39, 43, 48);
  --order-1-bg-color: rgb(52, 52, 52);

  /* 文字 */
  --primary-text-color: #e4e4e4;
  --secondary-text-color: #999999;
  --other-text-color: rgb(119, 119, 119);
  --link-color: #75aaff;

  /* 按钮 */
  --button-bg-color: #444444;
  --button-text-color: #ffffff;

  /* 卡片 */
  --card-bg-color: #1a1a1a;
  --card-text-color: #f8f8f8;

  /* 边框 */
  --border-color: #666666;

  /* 强调色 */
  --primary-emphasis-color: #61dafb;
  --secondary-emphasis-color: #ffc107;

  --cart-boxShadow: 0 0 10px 3px rgba(0,0,0,0.1);
}

.mode-common {
  /* 导航栏 */
  --navbar-box-height: 56px;
  --color-white: #f8f8f8;
  --cart-shadow: 0 0 10px 3px rgb(19, 19, 19);
  --icon-fill: rgb(205, 74, 74);
  /* 调试border */
  /* --debug-border : solid rgb(255, 255, 255); */
  --debug-border: none;
  --order-0-color: rgb(255, 255, 255);
  --order-1-color: rgb(230, 230, 230);
  --order-2-color: rgb(205, 205, 205);
  --order-3-color: rgb(180, 180, 180);
  --order-4-color: rgb(155, 155, 155);
  --order-5-color: rgb(130, 130, 130);
  --order-6-color: rgb(105, 105, 105);
  --order-7-color: rgb(80, 80, 80);
  --order-8-color: rgb(55, 55, 55);
  --order-9-color: rgb(30, 30, 30);
  --order-10-color: rgb(0, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* ⭐字体 */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-text-color);
}
body {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体";
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-color);
  /* height: 2000px; */
  /* width: 100%; */
  transition: all 0.5s ease;
}


/* 滚动条配置 */
html {
  &::-webkit-scrollbar {
    width: 10px;
    scrollbar-arrow-color: red;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(255, 175, 175);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(97, 97, 97);
  }
}


/* 移动端适配 */
/* 基准字体大小设置为16px */
html {
  font-size: 16px;
}

/* 媒体查询和适配不同屏幕宽度 */
@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

h2 {
  font-size: 1.5rem; /* 相对于基准字体大小的适配文字大小 */
}

p {
  font-size: 1rem; /* 相对于基准字体大小的适配文字大小 */
}